<div id="formulaire-produit" ng-controller="produit">
    <form id="form" ng-submit="submit()">
        <div id="form-produit-unique">
            <table>
                <tr>
                    <td class="cell-titre-produit" colspan="2">
                        <label>
                            Titre :
                            <input name="titre" type="text" contextmenu="Titre de l'objet" ng-model="produit.titre"/>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="cell-img-produit" rowspan="2">
                        <img src="img/no-photo.jpg" class="image-produit" ng-src="{{produit.photo}}" /><br>
                        <input name="photo" type="text" contextmenu="Choissisez une photo" ng-model="produit.photo" />

                    </td>
                    <td>
                        <h3><label for="form-desc">Description :</label></h3>
                        <textarea name="form-desc" id="form-desc" cols="50" rows="5" ng-model="produit.desc"></textarea>
                        <h3><label for="form-comp">Complement :</label></h3>
                        <table>
                            <tr ng-repeat="s in produit.spec track by $index">
                                <td><input name="spectitre" type="text" ng-model="s.titre" /></td>
                                <td><input name="specval" type="text" ng-model="s.val" /></td>
                                <td><button type="button" class="btn btn-warning" ng-click="retirerSpec($index)">Retirer</button></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-info" ng-click="ajouterSpec()">Ajouter</button>
                                </td>
                            </tr>
                        </table>
                        <!-- <textarea name="form-comp" id="form-comp" cols="50" rows="8" ng-model="produit.spec"></textarea> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <big> Prix :</big>
                        <h2 style="display: inline">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">&euro;</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="produit.prix" />
                                <div class="input-group-addon">.00</div>
                            </div>
                </tr>
            </table>
        </div>
        <div style="text-align: right; padding: 12px">
            <input type="submit" class="btn btn-danger" value="Valider le Produit" style="font-size:30px;" />
        </div>
    </form>
</div>
<!--formulaire-produit -->