<div id="produit-unique" ng-controller="produit">
    <table>
        <tr>
            <!-- <td rowspan="3" style="padding: 12px"><img class="image-produit" src="img/A380.jpg" alt="" /> -->
            <td rowspan="3" style="padding: 12px"><img class="image-produit" ng-src="{{produit.photo}}" alt="Description" />
            </td>
            <td>
                <h1>{{produit.titre}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <div ng-if="canBeShown()">
                    <h2>Description : </h2>
                    {{produit.desc}}
                </div>

                <div ng-if="produit.spec.length > 0">
                    <h2>Complement : </h2>
                    <ul>
                        <li ng-repeat="s in produit.spec">{{s.titre}} : {{s.val}}</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <h2>Prix : </h2>
                {{produit.prix}} &euro;
                <div ng-if="produit.ristourne.length > 0">
                    <h2>Reductions possibles : </h2>
                    <ul>
                        <li ng-repeat="r in produit.ristourne track by $index">{{r}}</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- <div id="produit-unique">
            <table>
                <tr>
                    <td rowspan="3" style="padding: 12px"><img class="image-produit" src="img/A380.jpg" alt="" />
                    </td>
                    <td>
                        <h1>Airbus A380 miniature</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Description : </h2>
                        Avion immense pour mettre plein de gens dedans<br/> Il est pas beau mon avion ?

                        <h2>Complement : </h2>
                        Max. à vide : 369 t <br/> À vide : 276,8 t <br/> Max. au décollage : 575 t <br/> Max. à l’atterrissage : 394 t <br/> Kérosène : 256 m3 Concu par Airbus<br/> Plus gros transporteur aérien de passagers a ce jour<br/>

                    </td>
                </tr>
                <tr>

                    <td>
                        <h2>Prix : </h2>
                        38 &euro;
                    </td>
                </tr>
            </table>
        </div> -->