<div id="produits-liste" ng-controller="produits">
    <table style="width : 100%">
        <tr ng-repeat="p in produits | orderBy:'prix' ">
            <td style="padding: 6px">
                <a href="#/produit/{{p.id}}"><img class="image-mini" ng-src="{{p.photo}}" alt="" /></a>
            </td>
            <td>
                <div>
                    <h4>{{p.titre}}</h4>
                    Prix: {{p.prix}} &euro;
                </div>
            </td>
            <td>
                <div style="padding: 12px">
                    <button ng-disabled="!p.stock" type="button" class="btn btn-success" ng-click="ajouterProduit(p)">Ajouter au panier</button>
                </div>
            </td>
        </tr>
        <!-- <tr>
            <td style="padding: 6px"><img class="image-mini" src="img/A380.jpg" alt="" />
            </td>
            <td>
                <div>
                    <h4>Airbus A320 miniature</h4>
                    Prix: 12 &euro;
                </div>
            </td>
            <td>
                <div style="padding: 12px">
                    <button type="button" class="btn btn-success">Ajouter au panier</button>
                </div>
            </td>
        </tr> -->
    </table>
</div>
<!--produits-liste -->