body {
    color: darkblue;
}

.b {
    border: 1px solid black;
}

#bg {
    width: 100%;
    background-image: url("../img/fond-a380.jpg");
    padding-top: 20px;
}

#banner {
    height: 75px;
    width: 40%;
    margin-left: 30%;
}

#banner img {
    height: 75px;
    width: 100%;
    size: auto;
}

#menu {}

#menu-item {}

#vue {
    margin-top: -20px;
    overflow: auto;
    width: 70%;
}

#panier {
    width: 20%;
    float: right;
    top: 150px;
    right: 12.5%;
    position: absolute;
}

#principal {
    width: 75%;
    margin-left: 12.5%;
    background-color: lightgray;
}

#produit-unique h2 {
    text-decoration: underline;
}

#produits-liste {}

.image-produit {
    max-height: 200px;
    max-width: 200px;
    size: auto;
}

.image-mini {
    max-height: 50px;
    max-width: 50px;
    size: auto;
}

.cell-titre-produit {
    text-align: center;
    font-size: 40px;
    color: darkslategray;
    font-style: italic;
    text-decoration: underline
}

.cell-img-produit {
    padding: 0 12px;
}