<div id="panier" class="b" ng-hide="panier.length==0 ">
    <!--|| currentPath().startsWith('/formProduit')"-->
    Panier<br/>
    <table style=" width : 100% ">
        <tr>
            <td>&nbsp;</td>
            <td>Nom</td>
            <td>prix unit.</td>
            <td>Quant.</td>
            <td>Tot.</td>
        </tr>
        <tr ng-repeat="element in panier | orderBy: 'quantite':reverse ">
            <!--ng-hide="element.quantite==0 "-->
            <td><img class="image-mini" ng-src="{{element.produit.photo}} " alt=" " ng-click="retirerProduit(element.produit) "></img>
            </td>
            <td>{{element.produit.titre | limitTo:10}}</td>
            <td>{{element.produit.prix | round | currency}}</td>
            <td>{{element.quantite}}</td>
            <td>{{(element.produit.prix*element.quantite) | round : 2 | currency}}</td>
        </tr>
    </table>
    Total panier = {{calculerTotal() | round : 3 | currency}}
</div>