<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <title>Ma 1ere Anguler ebootik</title>
</head>

<body ng-app="app">

    <div id="bg">
        <div id="principal">
            <div id="banner"><img src="img/logo.jpg" alt="">
            </div>
            <div id="menu">

                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">ebootik</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/produit/1">Produit 1</a></li>
                            <li><a href="#/produits">Produits</a></li>
                            <li><a href="#/formProduit">Formulaire</a></li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>

            </div>
            <div id="vue" class="b" ng-view="">
            </div>

            <mon-panier></mon-panier>
            <!-- <div id="panier" class="b" ng-controller="panier" ng-hide="panier.length==0">
                Panier<br/>
                <table style="width : 100%">
                    <tr>
                        <td>&nbsp;</td>
                        <td>Nom</td>
                        <td>&euro;/unit</td>
                        <td>Quant.</td>
                        <td>Total</td>
                    </tr>
                    <tr ng-repeat="element in panier">
                        <!--ng-hide="element.quantite==0"
            <td><img class="image-mini" ng-src="{{element.produit.photo}}" alt="" ng-click="retirerProduit(element.produit)"></img>
            </td>
            <td>{{element.produit.titre}}</td>
            <td>{{element.produit.prix}}</td>
            <td>{{element.quantite}}</td>
            <td>{{element.produit.prix*element.quantite}}</td>
            </tr>
            </table>
            Total panier = {{calculerTotal()}}&euro;
        </div> -->
        </div>
    </div>
</body>
<script src="js/angular.js">
</script>
<script src="js/angular-route.js">
</script>
<script src="js/angular-sanitize.js">
</script>
<script src="js/angular-resource.js">
</script>
<script src="app/app.js">
</script>
<script src="app/produitCtrl/produitCtrl.js">
</script>
<script src="app/produitsCtrl/produitsCtrl.js">
</script>
<script src="app/panierCtrl/panierCtrl.js">
</script>
<script src="app/produitSrvc/produitSrvc.js">
</script>
<script src="app/panierDirective/panierDirective.js">
</script>

</html>